{% extends 'base.html' %}

{% block content %}
<h1>Transações</h1>

<form method="get">
  <label for="product_name">Produto:</label>
  <input type="text" name="product_name" value="{{ request.GET.product_name }}">
  <br>
  <label for="transaction_type">Tipo de Transação:</label>
  <select name="transaction_type">
    <option value="">Todas</option>
    <option value="Saida" {% if request.GET.transaction_type == 'Saida' %}selected{% endif %}>Saida</option>
    <option value="Entrada" {% if request.GET.transaction_type == 'Entrada' %}selected{% endif %}>Entrada</option>
  </select>
  <br>
  <button type="submit">Filter</button>
</form>

<table style="width:100%">
  <tr>
    <th style="text-align:center">Produto</th>
    <th style="text-align:center">Usuário</th>
    <th style="text-align:center">Empresa</th>
    <th style="text-align:center">Tipo de Transação</th>
    <th style="text-align:center">Quantidade</th>
    <th style="text-align:center">Data</th>
  </tr>
  {% for transaction in transactions %}
  <tr>
    <td>{{ transaction.product.name }}</td>
    <td>{{ transaction.user.username }}</td>
    <td>{{ transaction.company.name }}</td>
    <td>{{ transaction.transaction_type }}</td>
    <td>{{ transaction.quantity }}</td>
    <td>{{ transaction.created_at }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
